# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
*.dist-info/

# Virtual environments
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# Env files
.env

# OS/editor
.DS_Store
.idea/
.vscode/

# 1. Ignora todo o conteúdo dentro da pasta data
data/*

# 2. Cria uma exceção (usando !) para a pasta raw e seu conteúdo
!data/raw/

# Logs
*.log
